In [1]:
import pandas as pd

In [2]:
csv01 = "Resources/202101-citibike-tripdata.csv"
csv02 = "Resources/202102-citibike-tripdata.csv"
csv03 = "Resources/202103-citibike-tripdata.csv"
csv04 = "Resources/202104-citibike-tripdata.csv"
csv05 = "Resources/202105-citibike-tripdata.csv"
csv06 = "Resources/202106-citibike-tripdata.csv"
csv07 = "Resources/202107-citibike-tripdata.csv"
csv08 = "Resources/202108-citibike-tripdata.csv"
csv09 = "Resources/202109-citibike-tripdata.csv"
csv10 = "Resources/202110-citibike-tripdata.csv"
csv11 = "Resources/202111-citibike-tripdata.csv"
csv12 = "Resources/202112-citibike-tripdata.csv"

In [3]:
df_01 = pd.read_csv(csv01, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_02 = pd.read_csv(csv02, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_03 = pd.read_csv(csv03, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_04 = pd.read_csv(csv04, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_05 = pd.read_csv(csv05, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_06 = pd.read_csv(csv06, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_07 = pd.read_csv(csv07, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_08 = pd.read_csv(csv08, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_09 = pd.read_csv(csv09, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_10 = pd.read_csv(csv10, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_11 = pd.read_csv(csv11, dtype={"start_station_name": 'str', "end_station_name": 'str'})
df_12 = pd.read_csv(csv12, dtype={"start_station_name": 'str', "end_station_name": 'str'})

/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_02 = pd.read_csv(csv02, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_03 = pd.read_csv(csv03, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_04 = pd.read_csv(csv04, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:5: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_05 = pd.read_csv(csv05, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_06 = pd.read_csv(csv06, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_07 = pd.read_csv(csv07, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_08 = pd.read_csv(csv08, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_09 = pd.read_csv(csv09, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:10: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_10 = pd.read_csv(csv10, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:11: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_11 = pd.read_csv(csv11, dtype={"start_station_name": 'str', "end_station_name": 'str'})
/var/folders/sp/6plkjdmn5qsb1910x_z26fnm0000gn/T/ipykernel_31594/971501354.py:12: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_12 = pd.read_csv(csv12, dtype={"start_station_name": 'str', "end_station_name": 'str'})

In [4]:
df_01["usertype"] = df_01["usertype"].replace("Subscriber","member")
df_01["usertype"] = df_01["usertype"].replace("Customer","casual")
df_01 = df_01.drop("gender", axis=1)
df_01 = df_01.drop("birth year", axis=1)
df_01 = df_01.rename(columns={"bikeid": "ride_id", "starttime":"started_at","stoptime": "ended_at", "start station id": "start_station_id", "start station name": "start_station_name", "start station latitude":"start_lat", "start station longitude": "start_lng", "end station id": "end_station_id", "end station name": "end_station_name", "end station latitude":"end_lat", "end station longitude": "end_lng", "usertype":"member_casual"})

In [5]:
df_2021= pd.concat([df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12], ignore_index=True)

In [8]:
df_2021["start_station_name"].value_counts()

W 21 St & 6 Ave                128792
E 17 St & Broadway             123779
1 Ave & E 68 St                113212
West St & Chambers St          109861
Broadway & W 25 St             102209
                                ...
Pier 40 Dock Station                2
Grand Concourse & E 161  St         2
MTL-ECO51-1                         2
Pier 40 X2                          1
Morgan Bike Mechanics               1
Name: start_station_name, Length: 1570, dtype: int64

In [ ]:
df=df_2021.groupby('start_station_name').nunique()
df

In [ ]:
df_2021_name = df_2021.groupby("start_station_name").unique()

In [ ]:
df_2021_name

In [ ]:
df_2021["City"] = "New York City"
df_2021

In [ ]:
df_01.shape

In [ ]:
df_2021["start_station_name"].value_counts()

In [ ]:
df_2021["end_station_name"].value_counts()

In [10]:
df1=df_2021.groupby("start_station_name").filter(lambda x: len(x) > 95000)
df1

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,ride_id,member_casual,rideable_type
42,670.0,2021-01-01 00:08:46.0140,2021-01-01 00:19:56.7670,497,E 17 St & Broadway,40.737050,-73.990093,4219,W 35 St & 9 Ave,40.754145,-73.996089,49603,member,NaN
62,753.0,2021-01-01 00:11:45.1670,2021-01-01 00:24:18.8650,151,Cleveland Pl & Spring St,40.722104,-73.997249,326,E 11 St & 1 Ave,40.729538,-73.984267,43622,member,NaN
77,363.0,2021-01-01 00:12:57.9890,2021-01-01 00:19:01.3200,3641,Broadway & W 25 St,40.742869,-73.989186,252,MacDougal St & Washington Sq,40.732264,-73.998522,49429,member,NaN
79,355.0,2021-01-01 00:13:02.3480,2021-01-01 00:18:57.7120,3641,Broadway & W 25 St,40.742869,-73.989186,252,MacDougal St & Washington Sq,40.732264,-73.998522,36165,casual,NaN
82,371.0,2021-01-01 00:13:23.1320,2021-01-01 00:19:34.5690,3641,Broadway & W 25 St,40.742869,-73.989186,252,MacDougal St & Washington Sq,40.732264,-73.998522,49759,member,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27660848,NaN,2021-12-03 20:15:03,2021-12-03 20:17:59,5779.09,E 13 St & Avenue A,40.729667,-73.980680,5616.01,E 9 St & Avenue C,40.725213,-73.977688,9FA3C2050AD1DF76,member,classic_bike
27660849,NaN,2021-12-31 19:20:50,2021-12-31 19:23:09,5779.09,E 13 St & Avenue A,40.729667,-73.980680,5616.01,E 9 St & Avenue C,40.725213,-73.977688,A69528477EFADD65,member,electric_bike
27660850,NaN,2021-12-13 16:51:22,2021-12-13 16:58:35,5779.09,E 13 St & Avenue A,40.729667,-73.980680,5947.04,W 13 St & 5 Ave,40.735445,-73.994310,7651835B0C0CC117,casual,classic_bike
27660852,NaN,2021-12-03 23:09:12,2021-12-03 23:42:34,5779.09,E 13 St & Avenue A,40.729667,-73.980680,4413.08,Warren St & Court St,40.686371,-73.993833,217029FAADD8F119,member,classic_bike
27660853,NaN,2021-12-02 11:00:17,2021-12-02 11:36:23,5779.09,E 13 St & Avenue A,40.729667,-73.980680,7623.13,Riverside Dr & W 104 St,40.801343,-73.971146,C411FB5D2929084C,member,electric_bike

In [11]:
df1["start_station_name"].value_counts()

W 21 St & 6 Ave             128792
E 17 St & Broadway          123779
1 Ave & E 68 St             113212
West St & Chambers St       109861
Broadway & W 25 St          102209
Cleveland Pl & Spring St    101085
Broadway & E 14 St           99698
6 Ave & W 33 St              96909
E 13 St & Avenue A           96590
West St & Liberty St         95516
Name: start_station_name, dtype: int64

In [ ]:
df2=df_2021.groupby("end_station_name").filter(lambda x: len(x) > 100000)
df2

In [12]:
df1.to_csv ('Resources/citibike_2021.csv', index = False, header=True)

In [ ]:
df2.to_csv ('Resources/citibike_2021_end.csv', index = False, header=True)

In [ ]:
df2["end_station_name"].value_counts()

In [ ]:
df0

In [ ]:
df_01